<h1>Post</h1>
<div class="container">
  <table class="table table-dark table-striped">
    <thead>
    <tr>
      <td>Title</td>
      <td>Content</td>
      <td>Created At</td>
    </tr>
    </thead>
    <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>